@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.Land {
  background-color: hsl(193, 100%, 96%);
  background-image: url("../img/bg-hero-mobile.svg");
  background-repeat: no-repeat;
}
.Land .Land_header {
  display: flex;
  padding: 1rem;
}
.Land .Land_header h1 {
  flex: 1;
}
.Land .Land_header h1 img {
  max-width: 300px;
}
.Land .Land_header button {
  border-radius: 2rem;
  padding: 0.4rem 1.2rem;
  background-color: #fff;
  font-weight: bold;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.Land .Land_header button:active {
  color: #696868;
}
.Land .Land_title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  width: 80%;
  margin: 1rem auto;
}
.Land .Land_article {
  gap: 1rem;
  text-align: center;
  width: 80%;
  margin: 1rem auto;
}
.Land .Land_article button {
  text-align: center;
  width: 80%;
  margin: 1rem auto;
  border-radius: 2rem;
  padding: 1rem 0;
  background-color: rgb(255, 82, 191);
  color: #fff;
  box-shadow: 0px 1px 4px rgba(255, 82, 191, 0.4);
}
.Land .Land_article button:active {
  background-color: hsl(322, 100%, 76%);
}
.Land .Land_article img {
  text-align: center;
  width: 100%;
  margin: 1rem auto;
}

@media screen and (min-width: 768px) {
  .Land .Land_article img {
    width: 60%;
  }
}
@media screen and (min-width: 1025px) {
  .Land {
    background-image: url("../img/bg-hero-desktop.svg");
  }
  .Land .Land_header button {
    padding: 0 2rem;
    font-size: 1rem;
  }
  .Land .Land_article {
    padding: 7rem 0;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
  }
  .Land .Land_article div, .Land .Land_article img {
    width: 50%;
  }
  .Land .Land_article div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .Land .Land_article h2 {
    margin: 0;
    text-align: start;
    font-size: 2rem;
  }
  .Land .Land_article p {
    text-align: start;
    font-size: 1.1rem;
  }
  .Land .Land_article button {
    padding: 1.4rem;
    align-self: flex-start;
    margin: 0;
    font-size: 0.8rem;
    width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .Land .Land_article h2 {
    font-size: 2.8rem;
  }
  .Land .Land_article p {
    font-size: 1.2rem;
  }
  .Land .Land_article button {
    font-size: 1.2rem;
  }
}
.midle .midle_article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem;
}
.midle .midle_article img {
  text-align: center;
  width: 100%;
  margin: 1rem auto;
}

@media screen and (min-width: 768px) {
  .midle .midle_article {
    align-items: center;
  }
  .midle .midle_article div {
    width: 60%;
  }
  .midle .midle_article img {
    text-align: center;
    width: 60%;
    margin: 1rem auto;
  }
}
@media screen and (min-width: 1025px) {
  .midle .midle_article {
    flex-direction: row-reverse;
    gap: 10%;
    padding-left: 5rem;
  }
  .midle .midle_article div {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  .midle .midle_article div h2 {
    margin: 0;
    text-align: start;
    font-size: 1.5rem;
  }
  .midle .midle_article div p {
    text-align: start;
    font-size: 1rem;
  }
  .midle .midle_article img {
    width: 40%;
    margin: 0;
  }
  .midle .midle_article:nth-child(2) {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .midle .midle_article div h2 {
    font-size: 2rem;
  }
  .midle .midle_article div p {
    font-size: 1.2rem;
  }
}
.footer {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  padding: 8rem 0 2rem 0;
}
.footer img {
  padding: 2rem 1rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(200%) contrast(200%);
}
.footer .footer_contacts {
  margin-bottom: 1.2rem;
}
.footer .footer_contacts ul li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 0;
}
.footer .footer_contacts ul li svg {
  margin: 0 1rem;
}
.footer .footer_contacts ul li a:hover {
  text-decoration: underline;
}
.footer .footer_article ul li {
  padding: 0.5rem;
}
.footer .footer_article ul li a:hover {
  text-decoration: underline;
}
.footer .footer_media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer_media a {
  font-size: 1.3rem;
  padding: 0.5rem;
}
.footer .footer_media p {
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
    padding: 8rem 2rem 4rem 2rem;
  }
  .footer .footer_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .footer_media div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .footer .footer_media div a:hover {
    color: hsl(322, 100%, 76%);
  }
  .footer .footer_media p {
    font-size: 0.8rem;
  }
}
.getStarted {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem 0;
  position: relative;
  top: 6rem;
  z-index: 10;
}
.getStarted::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 1rem;
  z-index: -1;
}
.getStarted .getStarted_article button {
  text-align: center;
  width: 65%;
  margin: 1rem auto;
  border-radius: 2rem;
  padding: 1rem 0;
  background-color: rgb(255, 82, 191);
  color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}
.getStarted .getStarted_article button:active {
  background-color: hsl(322, 100%, 76%);
}

@media screen and (min-width: 1025px) {
  .getStarted {
    width: 60%;
  }
  .getStarted h3 {
    font-size: 2rem;
  }
  .getStarted .getStarted_article button {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .getStarted {
    width: 60%;
  }
  .getStarted h3 {
    font-size: 2.4rem;
  }
  .getStarted .getStarted_article button {
    font-size: 1rem;
  }
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

button {
  cursor: pointer;
}

h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

a, p, button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

button {
  font-weight: 600;
}/*# sourceMappingURL=Styles.css.map */